# .NET Core
bin/
obj/

# Visual Studio Code
.vscode/

# Visual Studio files
*.user
*.suo
*.cache
*.log
*.vs
*.dll
*.exe

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Ll]og/
[Oo]bj/
[Tt]est[Rr]esult*/
[Tt]est[Rr]eport/
*.sln.cache
*.testsettings
testhost/

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/

# Visual Studio profiling
*.psess
*.vsp
*.vspx
*.sap

# Resharper
_ReSharper*/

# Rider
.idea/

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# NuGet
*.nuget.props
*.paket.*
*.paket/
*.paket.restore.*